In [9]:
def student_name():
    '"for study purpose"'
    '" def is mentioning to ask python to tak this as function"'
    '"student_name is function name and ()inside parathesis is lik variable technically call as argument is "'
    '"there can be n number of arguments"'
    print('harihara sudhan')

In [8]:
student_name()

harihara sudhan

In [19]:
def h2s(love):
    '"h2s is function name AND love is argument which is lik variable"'
    '"%s is also kind of string format which means % love will attach to the %s"'

    print('I LOVE %s' %love)

In [20]:
h2s('PARAMESHWARI')

I LOVE PARAMESHWARI

In [21]:
def house_property(hema,suba,hari):
    return(hema + suba + hari)

In [26]:
print ('The Total Property is ', house_property(5000000,7500000,20000000))

('The Total Property is ', 32500000)

In [36]:
amudha = house_property(8000000,3000000,10000000)

if amudha < 10000000:
    print('the total property is',amudha, 'you are poor')
    
elif amudha > 10000000 and amudha < 15000000:
    print ('the total property is',amudha,'you are middle class')
    
elif amudha > 15000000 and amudha < 20000000:
    print ('the total property is', amudha ,'you are high class')
    
else:
    print('the total property is',amudha,'you are a millionaire')

('the total property is', 21000000, 'you are a millionaire')

In [42]:
def square (num):
    for n in range(2,num):
        if n % 2 == 0:
            print ('the square is', n**2)
    else:
        print('this is not even',n)

In [43]:
square(6)

('the square is', 4)
('the square is', 16)
('this is not even', 5)

In [46]:
maths = lambda x,y,z : x+y+z
'"lambda is a another function xyz are arguments and after: is expressions lik operation"'
print(maths(25,65,48))

138

In [54]:
def multi(*datas):
    '"if we having infinite datas and we dont know how much so we using * in arguments"'
    '"here we * so python will take there are more datas "'
    for z in datas:
        print ('the datas are : -', z)

In [53]:
    multi('hari',28.3,'sekar',100,430,'amudha')

('the datas are : -', 'hari')
('the datas are : -', 28.3)
('the datas are : -', 'sekar')
('the datas are : -', 100)
('the datas are : -', 430)
('the datas are : -', 'amudha')

In [68]:
def h2s (**sudhan):
    for key, value in sudhan.items():
        print key,value

In [69]:
h2s(names =['ramesh','priya','arjune'],marks =[35,67,89])

names ['ramesh', 'priya', 'arjune']
marks [35, 67, 89]

In [4]:
def exam_result(marks):
    if marks == 75:
        return(marks + 5)
    elif marks == 76:
        return(marks + 4)
    elif marks == 77:
        return(marks + 3)
    elif marks == 78:
        return(marks + 2)
    elif marks == 79:
        return(marks + 1)
    else:
        return marks

In [1]:
result =[90,85,77,78,80,145,76,180,165]

In [5]:
exam_score = list(map(exam_result,result))

exam_score

[90, 85, 80, 80, 80, 145, 80, 180, 165]

In [12]:
exam_score.count(80)

4

In [14]:
def college_grade(marks):
    if marks == 150:
        print('B')
    elif marks == 145:
        return (marks + 4)
    elif marks >= 185:
        print('A class')
    elif marks >= 151:
        print('great')
    elif marks <= 149:
        print('C')
    else:
        print('better luck next time')

In [15]:
score=[135,175,180,129,145,160,145,166,178,190]

In [16]:
grade = list(map(college_grade,score))
grade

C
great
great
C
great
great
great
A class

[None, None, None, None, 149, None, 149, None, None, None]

In [2]:
ans = range(5)

TypeError: 'function' object is not iterable

In [9]:
can = range(30)

In [10]:
list(filter(lambda x: x%2==0),can)

TypeError: filter expected 2 arguments, got 1

In [15]:
def company (salary):
    if salary < 15000:
        return salary

In [16]:
pay = [10000,250000,487676,29000,8000,45000,30000]

In [17]:
total = list(filter(company,pay))
total

[10000, 8000]

In [21]:
mal = 60
def samnath():
    '"global variable we can use inside the function and outside the function"'
    '"mal = 60 is outside the function but it is executed"'
    print('hi da macha',50 * mal)
samnath()

('hi da macha', 3000)

In [22]:
print('hi baby',mal)
'"same as mal is executed here also so it is working out side the function"'

('hi baby', 60)

'"same as mal is executed here also so it is working out side the function"'

In [25]:
def sampath():
    '"here local variable using inside the function it is executed"'
    kal = 75
    print('hi da macha',25 + kal)
sampath()

('hi da macha', 100)

In [26]:
print ('hi baby',kal)
'"and we using the same variable out side the function but it showing error so local variable nt working outside"'

NameError: name 'kal' is not defined

In [29]:
def sampath():
    '"here i using the same variable but i mention that variable as global before assigning data to it"'
    global kal
    kal = 75
    print('hi da macha',25 + kal)
sampath()

('hi da macha', 100)

In [31]:
print ('hi baby',kal)
'"see here it is working outside that is te way we can use local to mention as global to execute."'

('hi baby', 75)

'"see here it is working outside that is te way we can use local to mention as global to execute."'